* {
  box-sizing: border-box;
}

html {
  background-color: rgb(243, 186, 167);
  border: black dashed 5px;
}

body {
  margin: 0 auto;
  width: 60%;
  background-color: rgb(243, 186, 167);
  z-index: 1;
}

#wrap h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  height: 50%;
}

.line {
  border-bottom: black dashed 5px;
  width: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 70%;
  text-align: left;
  margin-left: 15%;
}

li {
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
}

span {
  font-weight: 600;
  font-size: 15pt;
}
