body {
  margin: 0 auto;
  width: 60%;
  background-color: rgb(243, 186, 167);
}

p {
  margin-left: 15%;
  font-family: Arial;
  font-size: 14px;
  width: 70%;
  text-align: left;
}

li {
  line-height: 1.4;
  list-style: none;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: 500;
}

#wrap h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 22pt;
  height: 50%;
  font-weight: bold;
  text-align: center;
}

.line {
  border-bottom: black dashed 5px;
}

span {
  font-weight: 600;
  font-size: 15pt;
}
